.autoComplete {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 100%;
}

.no-suggestions {
  color: grey;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #e5e5e5;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #e5e5e5;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: unset;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
