{
  "plugins": [
    "react"
  ],
  "extends":  [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [0],
    "space-before-function-paren": [0],
    "comma-dangle": [0]
  }
}
